/deps/
/deps.ts

/dist/
/build/
/tmp/

/.deno/
/deno_dir/
$DENO_DIR/

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
*.log.*
*.bin

/coverage/
*.tsbuildinfo

node_modules/
jspm_packages/

*.swp
*.lock
